
      {{!-- !add logout function here --}}
      <div class="arcadia" >
        <button class="btn" id="logout">logout</button>
      </div>
{{!--! find justin and george's githubs --}}
  <nav>
    <div style="background-color: blue; color:aliceblue;" class="nav-wrapper">
     
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://github.com/DanielleSison">Danielle Sison</a></li>
        <li><a href="https://github.com/bulkingfire">Vageli Stathatos</a></li>
        <li><a href="https://github.com/CoreyDC">Corey Calbreath</a></li>
        <li><a href="https://github.com/bulkingfire">Joshua Romani</a></li>
        <li><a href="collapsible.html">Justin Crowson</a></li>
        <li><a href="collapsible.html">George Jordan</a></li>
        <li><a href="https://jsdrever.github.io/PortfolioJeffDrever/">Jeff Drever</a></li>
      </ul>
    </div>
  </nav>
<div id="gamer">

{{!-- tic tac toe --}}
  <div class="row">
    <div class="col s5 m4">
      <div class="card">
        <div class="card-image">
          
          <img src="images/tictactoe.jpg">
        
        </div>
        <div class="card-content">
          <p>Nic Cage never ties. He always wins. Be like Cage and 'Face/off' against AI.</p>
        </div>
        <div class="card-action">
          <a href="/nictactoe">Play Nic Tac Toe</a>
        </div>
      </div>
    </div>
  {{!-- </div> --}}
{{!-- hangman --}}
  {{!-- <div class="row"> --}}
    <div class="col s5 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/hangman.png">
          {{!-- <span style="color:black;" class="card-title">Hangman</span> --}}
          
        </div>
        <div class="card-content">
          <p>Nic Cage dies if you lose... So like don't. </p>
        </div>
        <div class="card-action">
          <a href="/views/Hangman/index.html">Play Hangman</a>
        </div>
      </div>
    </div>
  {{!-- </div> --}}
{{!-- snake --}}
    {{!-- <div class="row"> --}}
    <div class="col s5 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/snake.jpg">
       
         
        </div>
        <div class="card-content">
          <p>"I am a snake" - Nic Cage</p>
        </div>
        <div class="card-action">
          <a href="#">Play Snake</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="score">
  {{!-- {{ Username }} 
  {{ user_score }} --}}
</div>


  <div class="card">
    <div class="card-content">
      <p>Keep up with your scores here, you lil champion.</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Hangman</a></li>
        <li class="tab"><a class="active" href="#test5">Tic Tac Toe</a></li>
        <li class="tab"><a href="#test6">Snake</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4"> {{ user_score.Hangman }} </div>
      <div id="test5"> {{ user_score.nictactoe }} 0</div>
      <div id="test6"> {{ user_score.snake }} </div>
    </div>
  </div>
 